name: check

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

jobs:
  check:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest'] #, 'windows-latest']
        version: ['latest', 'nightly']
      fail-fast: false
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    steps:
      - uses: actions/checkout@v4

      - name: download llvm-19 on ubuntu-latest
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt install llvm-19-dev -y

      - name: download llvm-19 on macos
        if: ${{ runner.os == 'macOS' }}
        run: |
          brew install llvm@19

      - name: install stable version on unix
        if: ${{ runner.os != 'Windows' }}
        run: |
          curl -fsSL https://cli.moonbitlang.com/install/unix.sh | bash -s "${{ matrix.version }}"
          echo "$HOME/.moon/bin" >> $GITHUB_PATH

      - name: install on windows
        if: ${{ runner.os == 'Windows' }}
        env:
          MOONBIT_INSTALL_VERSION: ${{ matrix.version }}
        run: |
          Set-ExecutionPolicy RemoteSigned -Scope CurrentUser; irm https://cli.moonbitlang.com/install/powershell.ps1 | iex
          "C:\Users\runneradmin\.moon\bin" | Out-File -FilePath $env:GITHUB_PATH -Append
      
      - name: moon version
        run: |
          moon version --all
          moonrun --version
      
      - name: install module dependencies
        run: |
          moon update
          moon install

      - name: moon check
        run: moon check --target native

      # - name: moon info
      #   run: |
      #     moon info --target native
      #     git diff --exit-code

      # - name: format diff
      #   run: |
      #     moon fmt --block-style
      #     git diff --exit-code

      - name: Setup MSVC
        if: ${{ runner.os == 'Windows' }}
        uses: ilammy/msvc-dev-cmd@v1

      - name: Set ulimit on unix
        if: ${{ runner.os != 'Windows' }}
        run: |
          ulimit -s 8176

      - name: moon test
        run: |
          source ./.github/ci_env.sh 
          moon test --target native --release
        # each step uses different environment variable
        # don't separate `source env.sh` and `moon build`

      # # TODO: Add `--doc` option when all doc problems fixed.
      # - name: moon test --target native
      #   run: |
      #     source env.sh 
      #     moon test --target native

  moon-json-format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: check `moon.*.json` format
        shell: bash
        run: |
          _passed=0;
          for f in $(find . -type f -name "moon.*.json"); do
            if ! jq '.' $f > /dev/null; then
              echo $f;
              _passed=1;
            fi
          done
          (exit $_passed)

  typo-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      FORCE_COLOR: 1
      TYPOS_VERSION: v1.19.0
    steps:
      - name: download typos
        run: curl -LsSf https://github.com/crate-ci/typos/releases/download/$TYPOS_VERSION/typos-$TYPOS_VERSION-x86_64-unknown-linux-musl.tar.gz | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: check typos
        run: typos
